<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="local-l1" value="../MinGo.Quartz/artifacts" />
    <add key="local-l2" value="../MinGo.Quartz.Agent/artifacts" />
  </packageSources>
</configuration>
